.container[data-v-445aa939]{max-width:1280px}html[data-v-445aa939]{scroll-behavior:smooth}@media print{.action-buttons-container[data-v-445aa939],.next-steps[data-v-445aa939],.pro-tips[data-v-445aa939]{display:none}}
