.container[data-v-109a332e]{max-width:1280px}html[data-v-109a332e]{scroll-behavior:smooth}@media print{.action-buttons-container[data-v-109a332e],.next-steps[data-v-109a332e],.pro-tips[data-v-109a332e]{display:none}}
